* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #000000;
    --secondary: #ffffff;

    --header-primary: #44e9ff;
    --header-secondary: #000000;

    --button-primary: var(--primary);
    --button-secondary: #444444;
    --button-primary-hover: var(--primary);
    --button-secondary-hover: #777777;

    --canvas-primary: var(--header-primary);
    --canvas-secondary: var(--button-secondary);

    --answers-primary:var(--header-primary);
    --answers-secondary: var(--header-secondary);
    --answers-primary-hover: #ffffff;
    --answers-secondary-hover: #777777;

    --feedback-primary:#ffffff;

    --highScore-primary:var(--header-primary);
    --highScore-secondary: var(--header-secondary);
}

body {
    color: var(--primary);
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header start */
header {
    color: var(--header-primary);
    background: var(--header-secondary);
    padding: 20px;
    margin: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.button {
    color: var(--button-primary);
    background: var(--button-secondary);
    padding: 20px;
}
.button:hover {
    color: var(--button-primary-hover);
    background: var(--button-secondary-hover);
}

.timer { 
    background: var(--button-secondary);
    padding: 20px;
}

.feedback {
    color: var(--feedback-primary);
    height: 30px;
    padding: 20px;
}
/* header end */

/* canvas start */
#canvas {
    color: var(--canvas-primary);
    background: var(--canvas-secondary);
    margin: 0px 20px 20px 20px;
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* canvas stop */


/* quiz start */
.page {
    margin:0px;
    padding:0px;
    text-align:center;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.quizTitle {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.quizText {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.quizQuestion {
    margin: 40px;
}

.quizAnswers {
    list-style-type:upper-alpha;
    width: 250px;
    margin: auto;
}

.answers {
    color: var(--answers-primary);
    background-color: var(--answers-secondary);
    display: list-item;
    list-style-position: inside;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

.answers:hover {
    color: var(--answers-primary-hover);
    background-color: var(--answers-secondary-hover);
}
 
.submitForm > * {
    margin: 5px;
}

.submitForm input[type="text"] {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
}

.submitForm input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
}

.submitForm input[type="submit"]:hover {
    background-color: #000000;
    color: blueviolet;
    padding: 5px;
}
/* quiz end */

/* high-score start */

.highScoreList {
    list-style-type:upper-alpha;
    width: 250px;
    margin: auto;
}

.highScoreItem {
    color: var(--answers-primary);
    background-color: var(--answers-secondary);
    display: list-item;
    list-style-position: inside;
    text-align: left;
    padding: 10px;
    margin: 10px;
}


/* high-score end */

/* utilities start */
/* utilities end */